<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/GreenTest">
        <classes>
            <class name="GreenTest.FristClass">
                <methods>
                    <include name="PageLoadWithoutCookies1"/>
                    <include name="ClickButtonWithoudData2"/>
                    <include name="TypeOnlyLogin3"/>
                    <include name="TypeOnlyPassword4"/>
                    <include name="InCorrectCredentials5"/>
                    <include name="CorrectCredentials6"/>
                    <include name="PageLoadWithCookies7"/>
                    <include name="SignInCurrentButton8"/>
                    <include name="SignInAnotherButton9"/>
                    <include name="RememberButton10"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
